# Java specific
*.class
*.jar
*.war
*.ear
*.nar
*.zip
*.tar.gz
*.rar
hs_err_pid*
replay_pid*

# Logs
*.log

# OS specific
.DS_Store
Thumbs.db

# Maven specific
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties

# Eclipse specific
.project
.classpath
.settings/

# IntelliJ specific
.idea/
*.iws
*.iml
*.ipr

# NetBeans specific
nbproject/private/
build/
nbbuild/
dist/
nbdist/
nbactions.xml
nb-configuration.xml

# VS Code specific
.vscode/

# Other IDE specific
*.swp

# Package Files
*.gz
*.bz2
*.7z
*.xz

# Backup files
*.bak
*.tmp
*.orig
*.swp
*.swo

# Dependency directories
node_modules/
jspm_packages/

# Coverage directory
coverage/

# Temp directories
tmp/
temp/
